
{% extends "index.html" %}
{% block m1 %}
<style>
    body
    {
    background-color:dark;
    }


</style>

<body>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 h-75" src="../static/images/6.jpg" alt="First slide">
    </div>
  </div>
</div>

<div class="container mt-4 bg-light ">
    <h3 class="fw-bold">Fee management system - About Smart Classes</h3>
        <p class= "fw-bold mt-3 mb-5 text-center ">
            Smart Classes is the best online Tuition class management
            system/software with online teaching software along with mobile app.
            It is the most user-friendly ERP system along with online teaching tools
            & digital learning system. Smart Classes is the most effective coaching
            institute management< and learning system in education industry. Smart
            classes software launched in 2013 & that makes it one of the most oldest
            and reliable tution class management system. In this all years, Smart
            Classes software's many new & existing features has been added & upgraded
            based on our customers feedback & in current time, its the most features
            loaded, easy to use, all in one software for tuition classes or coaching institutes.
        </p>
        <p>
            Smart Classes mobile application will help Tuition Classes (Coaching institutes),
            Small/Medium/Large Institutes and Private Teachers to carry out various activities
            like student's Inquiry management, students admission management, students management,
            staff management, student’s attendance, fee collection, fee reminder, online examination,
            online live classes or online teaching, digital course sharing with students, expense
            management, SMS & Push Notification process and many more.
        </p>
</div>
<div class="container mb-5 mt-5">
    <div class="row  gap-5 justify-content-center">
        <div class="col-md-3 border rounded p-3 bg-success">
            <h6 class="text-center fw-bold fs-4 ">Student Management</h6>
            <p class="text-center mt-3">Manage student's personal and educational details. Take student attendance
                from mobile app or by biometric device. Share assignments with students .
            </p>
        </div>
        <div class="col-md-3 p-3 border rounded bg-light">
            <h6  class="text-center fw-bold fs-5">Staff Management</h6>
            <p class="text-center mt-3">
                Manage your staff records and allow your staff to login & use the smart
                classes system with total security control by screen rights & action rights.
            </p>
        </div>
        <div class="col-md-3  p-3 border rounded bg-warning">
            <h6  class="text-center fw-bold fs-5">Fee Management</h6>
            <p class="text-center mt-3">A complete fee management system that help you to manage all fees related process
                like discount, installment, with or without GST, receipt generate,
                refund, auto fee reminder and status tracking.</p>
        </div>
    </div>
</div>
<div class="container mb-5 mt-3">
    <h2 class="text-bold fs-3">Fee Management System</h2>
    <p class="mt-3"> A fee management system is a software solution designed to streamline
        and automate the process of collecting and managing fees in educational
        institutions. It handles various functions like fee collection, payment
        tracking, receipt generation, and financial reporting in one platform.
        By digitizing these processes, fee management systems eliminate inefficiencies
        associated with manual methods, enhance transparency, and improve security.
    </p>
</div>
<div class="container mb-5 ">

        <div class="col-md-5 ">
            <h6 class="fs-3">Key Features:</h6>
                <p class="mt-3 mb-5">
                Online Fee Payment & Receipt Generation<br/>
                Student-wise Fee Tracking<br/>
                Late Fee Calculation<br/>
                Fee Structure Management<br/>
                Admin and User Login Panels<br/>
                SMS/Email Alerts for Payment Reminders<br/>
                Auto-generated Reports (Daily, Monthly, Yearly)</p>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}