{% extends "admin_index.html" %}
{% block m2 %}
<style>
    .container
    {
        width:400px;
        margin-top:30px;
        margin-bottom:50px;
        border-radius:10px;
        font-family:amarican;

    }
    h1
    {
        text-align:center;
        margin-top:10px;
        font-family:aral;
    }
     input
     {
        width:100%;
        margin-top:5px;
        border:1px solid #ccc;
        border-radius:5px;
     }

     button
      {
        width:100px;
        padding:10px;
        margin-top:15px;
        margin-bottom:15px;
        background-color:#007BFF;
        color:white;
        border:none;
        border-radius:5px;
        font-size:16px;
      }

    button:hover
     {
        background-color:#0056b3;
     }
</style>
<body>

<h1>Accountant Registration </h1>
<div class="container bg-light shadow">
<form action="Accountant_Reg" method="post">
    <p>Employee No.<input type="text" name="T1" required/></p>
    <p>Name<input type="text" name="T2" required /></p>
    <p>Contact <input type="text" name="T3" required/></p>
    <p>Address<input type="text" name="T4" required></p>
    <p class="d-flex">
       Gender: <input type="radio" value="male" name="T5">male
         <input type="radio" value="female" name="T5">female
    </p>
    <p>Email<input type="text" name="T6" required/></p>
    <p>Password<input type="text" name="T7" required/></p>
    <p>Confirm Password <input type="text" name="T8" required/></p>
    <button type="submit" >submit</button>
</form>
    </div>
{{msg}}

</body>
{{ msg }}
{% endblock %}
</html>