{% extends "Accountant_index.html" %}
{% block m3 %}

<style>
    .container
    {
    width:500px;
    margin-top:20px;
    border-radius:10px;
    }
    input
    {
    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:10px;
    border: 1px solid;
    }
    h1
    {
    text-align:center;
    font-size:30px;
    margin-top:30px;
    }
    button
    {
    margin-top:10px;
    margin-bottom:15px;
    padding:10px;
    border:none;
    width:100px;
    background-color:lightblue;
    border-radius:10px;
    }

</style>


<h1>Change Password</h1>
<div class="container bg-light shadow">
<form action="Change_Password" method="post">
<p>Old Password<input type="text" name="T1" required></p>
<p>New Password<input type="text" name="T2" required></p>
<p>Confirm Password<input type="text" name="T3" required></p>
    <p><button type="submit">Change</button> </p>
</form>
</div>
{{ msg }}
{% endblock %}