{% extends "admin_index.html" %}
{% block m2 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1
        {
        margin-top:20px;
        font-size:30px;
        text-align:center;
        font-family:aiar;
        }

    </style>
</head>
<body>
<h1>Edit  Transaction</h1>
<div class="container justify-content-center d-flex">
    <div class="row rounded w-50 p-3 ">
        {% if data %}
            <form action="Edit_transaction1" method="post">
                <div class="mb-3">
                    <label for="t_no">T_No</label>
                    <input type="text" class="form-control" name="T1" value="{{data[0]}}" readonly>
                </div>
                <div class="mb-3">
                    <label for="st_id">St_Id</label>
                    <input type="text" class="form-control" name="T2" value="{{data[1]}}">
                </div>
                <div class="mb-3">
                    <label for="cou_id">Course_id</label>
                    <input type="text" class="form-control" name="T3" value="{{data[2]}}">
                </div>
                <div class="mb-3">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control" name="T4" value="{{data[3]}}">
                </div>
                <div class="mb-3">
                    <label for="deposit_date">Deposit_Date</label>
                    <input type="text" class="form-control" name="T5" value="{{data[4]}}">
                </div>
                <div class="mb-3">
                    <label for="remark">Remark</label>
                    <input type="text" class="form-control" name="T6" value="{{data[5]}}">
                </div>
                <button type="submit" class="btn btn-block btn-warning fs-5">Edit</button>

            </form>
        {% endif %}
    </div>
</div>
</body>
{{ msg }}
</html>
{% endblock %}