
{% extends "admin_index.html" %}
{% block m2 %}

<style>
    h1
    {
    margin-top:40px;
   text-align:center;
    }
    .table
    {
    width:700px;
    margin-top:30px;
    }
</style>


<body>
<h1> ALL Students </h1>
<center>
        {% if data %}

<table class="table table-bordered">
    <tr class="table-primary" style="font-family:arel;">
            <th>Sr_no</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Mother Name</th>
            <th>Address</th>
            <th>gender</th>
            <th>Contact</th>
            <th>Date of birth</th>
            <th>Category</th>
            <th>State</th>
            <th>Email</th>
            <th>Manage</th>
    </tr>
    {% for d in data %}
    <tr>


            <td>{{d[0]}}</td>
            <td>{{d[1]}}</td>
            <td>{{d[2]}}</td>
            <td>{{d[3]}}</td>
            <td>{{d[4]}}</td>
            <td>{{d[5]}}</td>
            <td>{{d[6]}}</td>
            <td>{{d[7]}}</td>
            <td>{{d[8]}}</td>
            <td>{{d[9]}}</td>
            <td>{{d[10]}}</td>
            <td>
                <form action="Student_dashboard" method="post">
                    <input type="hidden" name="T1" value="{{d[0]}}" >
                    <button type="submit" class="btn btn-block btn-success">click</button>
                </form>
            </td>
        {% endfor %}
    </tr>
{% endif %}

</table>
</center>

{{ msg }}

</body>
{% endblock %}